{% extends 'calidad_producto/base.html' %}

{% block title %}
  Subir Tendencia
{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h2>Subir Tendencia</h2>
    {% if messages %}
      <div class="alert-container mb-4">
        {% for message in messages %}
          <div class="alert 
            {% if message.tags == 'success' %}
              alert-success
            {% elif message.tags == 'error' %}
              alert-danger
            {% endif %}"
            role="alert">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}

    <div class="row">
      <div class="col-md-6 mb-4">
        <h6 class="mb-3">Cargar solamente un archivo</h6>
        <form class="needs-validation" action="{% url 'crear_tendencia_unico' %}" method="post" enctype="multipart/form-data" novalidate>
          {% csrf_token %}
          <div class="mb-3">
            <input type="file" id="archivo_unico" name="archivo_unico" class="form-control" accept=".xlsx,.xls" required />
            <div class="invalid-feedback">Por favor, seleccione un archivo .xlsx o .xls.</div>
          </div>
          <button type="submit" class="btn btn-primary">Subir Tendencia</button>
        </form>
      </div>

      <div class="col-md-6 mb-4">
        <h6 class="mb-3">Cargar más de un archivo</h6>
        <form class="needs-validation" action="{% url 'crear_tendencia_lote' %}" method="post" enctype="multipart/form-data" novalidate>
          {% csrf_token %}
          <div class="mb-3">
            <input type="file" id="archivos_lote" name="archivos_lote" class="form-control" accept=".xlsx,.xls" multiple required />
            <div class="invalid-feedback">Por favor, seleccione uno o varios archivos .xlsx o .xls.</div>
          </div>
          <button type="submit" class="btn btn-primary">Subir Lote de Tendencia</button>
        </form>
      </div>
    </div>
  </div>

  <script>
    // Validación de formularios utilizando Bootstrap
    document.querySelectorAll('.needs-validation').forEach(function (form) {
      form.addEventListener(
        'submit',
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault() // Evita el envío del formulario si no es válido
            event.stopPropagation() // Evita la propagación del evento
          }
          form.classList.add('was-validated')
        },
        false
      )
    })
    
    // Desaparecer mensajes después de 5 segundos
    setTimeout(function () {
      var alerts = document.querySelectorAll('.alert')
      alerts.forEach(function (alert) {
        alert.style.transition = 'opacity 0.5s ease-out'
        alert.style.opacity = '0'
        setTimeout(function () {
          alert.remove()
        }, 500) // Tiempo adicional para la transición
      })
    }, 5000) // 5 segundos
  </script>
{% endblock %}
