{% extends 'base.html' %}

{% block title %}
  Detalles
{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h1>{{ nombre_archivo }}</h1>

    <h4>Información del Archivo</h4>
    <table class="table table-hover">
      <tr>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre de la Columna</th>
          <th scope="col">Conteo</th>
          <th scope="col">Valor (%)</th>
        </tr>
      </tr>
      {% for columna, info in archivo_info.items %}
        <tr>
          <th scope="row">{{ forloop.counter }}
          <td>{{ columna }}</td>
          <td>{{ info.conteo }}</td>
          <td>{{ info.porcentaje  }} %</td>

        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
