{% extends 'base.html' %}

{% block title %}Armónicos{% endblock %}


{% block content %}
  <body>
    <div class="container mt-4">
      
      <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
          <h1 class="mb-1">Lista de Armónicos</h1>
          <p>Archivos para Análisis Armónico</p>
        </div>
        <a href="{% url 'crear_armonico' %}" class="btn btn-primary">Nuevo Armónico</a>
      </div>

      {% if messages %}
        <div>
          {% for message in messages %}
            <div class="alert {% if message.tags == 'success' %}
                alert-success
              {% elif message.tags == 'error' %}
                alert-danger
              {% endif %}"
              role="alert">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}

      <table class="table table-hover">
        <thead> 
          <tr>
            <th scope="col">#</th>
            <th scope="col">Archivo</th>
            <th scope="col">Fecha de Subida</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for archivo in archivos %}
            <tr>
              <th scope="row">{{ forloop.counter }}
              {% comment %} <th scope="row">{{ archivo.id }}</th> {% endcomment %}
              <td>{{ archivo.archivo }}</td>
              <td>{{ archivo.subido_el }}</td>
              <td>
                <a href="{% url 'armonico_detalle' archivo.id %}" class="btn btn-primary btn-sm">Detalles</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <script>
      // Desaparecer mensajes después de 5 segundos
      setTimeout(function () {
        var alerts = document.querySelectorAll('.alert')
        alerts.forEach(function (alert) {
          alert.style.transition = 'opacity 0.5s ease-out'
          alert.style.opacity = '0'
          setTimeout(function () {
            alert.remove()
          }, 500) // Tiempo adicional para la transición
        })
      }, 5000) // 5 segundos
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
{% endblock %} 
